.mainJob {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background: rgb(255,195,113);
    background: radial-gradient(circle, rgba(255,195,113,1) 0%, rgba(145,152,229,0.01) 100%);
  }

  .mainJob > * {
    margin: 10px;
    max-width: 100%;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    
  }
  .name{
    font-size: 25px;
    font-weight: 600;
  }
  .company{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
  }
  .country{
 font-size: 18px;
 font-family: Arial, Helvetica, sans-serif;
  }
  .detailBtn{
    background-color: blueviolet;
    border-radius: 20px;
  }