body {
    background-color: #cacfdf;
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}



.employeeLogin{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.employee-login{
  max-width: 978px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: white;
}

.employee-login span{
  color: #adb5bd;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
  
}

#form >  input, .signbtn{
    display: block;
  border: 1px solid #e9ecef;
  padding: .9em 1em;
  width: 100%;
  margin-bottom: 20px;
}

#form > input:first-of-type{
  outline: none;
  margin-bottom: 20px;
}

#form > .signbtn{
    display: block;
    margin: 0 auto;
  margin-top: 20px;
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
  padding: 0.6em 0.4em;
  margin-left: 10px; 
  margin-right: 10px;
  
}

.register-info{
  margin: auto;
}
.regbtn{

  margin-top: 20px;
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;


}



.employee-login .col-1{
  margin: auto;
  padding: 3em 0;
}

.employee-login .col-2 img{
    width: 480px;
    height: 100%;
    object-fit: cover;
    align-self: flex-end;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
  }
  
  @media screen and (min-width: 860px)  {
    .employee-login .col-2 img{
      display: initial;
    }
  }