.footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  background-color:gray;
  color: #fff;
  padding: 20px 0;
  }
  
  .footer-container {
  max-width: 100%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  .footer-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  }
  
  .footer-links li {

  margin: 0 10px;
  }
  
  .footer-links a {
    margin-left: 50px;
  color: #fff;
  text-decoration: none;
  }
  
  .footer-bottom {
    margin: 10px;

  background-color:cadetblue;
  padding: 10px;
  text-align: center;
  }
  .foot-link  {
    margin-right: 50px;
  color: #fff;
  text-decoration:double;
  }
  
  
  
  
  